<div class="wrapper">
<h2>Update Your Account</h2>

<%= form_for user, url: user_path(user), method: :patch do |f| %>
  <p>Name:</p>
  <p><%= f.text_field :name %></p>
  <p>Email:</p>
  <p><%= f.email_field :email %></p>
  <p>Password:</p>
  <p><%= f.password_field :password %></p>
  <p>Password Confirmation:</p>
  <p><%= f.password_field :password_confirmation %></p>
  <%= f.submit "Update" %>
  <p class="delete-account"><%= link_to "Delete Account", user_path(user), method: :delete %></p>
<% end %>

<p class="return-link"><%= link_to "Return", user_path(user) %></p>

</div>
