<div class="wrapper">
<h2><%= user.name %></h2>

<div class="mottos-box">
<% user.mottos.each do |motto| %>
  <p><%= motto.body %></p>
  <p class="delete"><%= link_to "Delete", user_motto_path(user, motto), method: :delete %></p>
<% end %>
</div>

<span class="habit-btn"><%= link_to "Make a Change", new_user_goal_path(user) %></span>
<span class="motto-btn"><%= link_to "Motto", new_user_motto_path(user) %></span>

<div class="habits-box">
<p><% user.goals.each do |goal| %>
  <%= goal.body %><br>
  <%= goal.step %><br>
  <%= goal.routine %><br>
  <span class="delete"><%= link_to "Delete", user_goal_path(user, goal), method: :delete %></span><br>
<% end %>
</div>

</div>
