<div class="wrapper">
<div class="tutorial">
  <p class="headline">Make use of the habits you've already created to help you build new habits. Follow these steps and fill out the form below.</p>
  <div class="instructions-box">
    <div class="instruction">
      <p>Identify a <span class="key-term">goal</span> you want to reach. Be ambitious and creative!</p>
    </div>
    <div class="instruction" id="center-instruction">
      <p>Think about <span class="key-term">small steps</span> you can take to reach that goal. What are some of the smallest changes that you could make?</p>
    </div>
    <div class="instruction">
      <p>Identify actions that you do everyday and make a list of these <span class="key-term">daily routines</span>.</p>
    </div>
  </div>
</div>

<div class="goals-form">
  <%= form_for [user, goal] do |f| %>
    <p>I want to <%= f.text_field :step, placeholder: "take a small step towards my bigger goal", required: true, autocomplete: "off" %>, each time I <%= f.text_field :routine, placeholder: "do a daily routine that I can link this small step to", required: true, autocomplete: "off" %>, in order to <%= f.text_field :body, placeholder: "begin reaching this long-term goal", required: true, autocomplete: "off" %>.</p>
    <%= f.submit "Make A New Habit" %>
  <% end %>
</div>
<p class="return-link"><%= link_to "Return", user_path(user) %></p>
</div>
