<h1>New Goals</h1>

<%= form_for [user, goal] do |f| %>
  <p>Long-term Goal: <%= f.text_field :body %></p>
  <p>Small Step: <%= f.text_field :step %></p>
  <p>Daily Routine: <%= f.text_field :routine %></p>
  <%= f.submit %>
<% end %>
