<div class="wrapper">
<div class="tutorial">
<p>Use the habits that you've already created to help you build new habits. Make these three identifications and fill out the form below.</p>
<ol>
  <li>Identify a goal you want to reach. Be ambitious and creative!</li>
  <li>Think about small steps you can take to reach that goal. What are some of the smallest changes that you could make?</li>
  <li>Identify actions that you do everyday and make a list of these daily routines.</li>
</ol>
</div>

<div class="goals-form">
<%= form_for [user, goal] do |f| %>
  <p>I want to <%= f.text_field :step, placeholder: "a small step I can take towards my bigger goal", requried: true, autocomplete: "off" %> each time I <%= f.text_field :routine, placeholder: "a daily routine I can link this small step to", required: true, autocomplete: "off" %> in order to <%= f.text_field :body, placeholder: "the long-term goal I want to reach", required: true, autocomplete: "off" %>.</p>
  <%= f.submit "Make A New Habit" %>
<% end %>
</div>
<p><%= link_to "Return", user_path(user) %></p>
</div>
