<!DOCTYPE html>
<html>
<head>
  <title>Habitual</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= flash[:alert] if flash[:alert] %>
  <div class="header">
    <div class="header-wrapper">
  <h1 class="logo">Habitual</h1>
  <div class="nav-bar">
    <% if session[:user_id] != nil %>
      <p><span class="greeting">Welcome <%= user.name %></span> | <%= link_to "Sign Out", logout_path %> | <%= link_to "Update Account", edit_user_path(user) %></p>
    <% else %>

    <% end %>
  </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
